<header class="header-section">
  <div class="header-container">
    <a class="header-logo" href="./index.html"> yachtjet</a>

    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-nav-link" href="#about">About</a>
        </li>
        <li class="header-item">
          <a class="header-nav-link" href="#yacht">Yachts</a>
        </li>
        <li class="header-item">
          <a class="header-nav-link" href="#reviews">Reviews </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
