<!-- =======================REVIEWS==========================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
                                                            ||
Коректний відносний шлях до зображень має такий вигляд      ||
<img src="/img/reviews/review-1.jpg" alt="">                ||
========================================================== -->
<link rel="stylesheet" href="../css/reviews.css">
<section class="reviews">
    <h1 class="portfolio-title">YachtJet take pride in providing the best possible service and experience to our customers</h1>
    <p>Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to find out what they have to say about their journey with us.</p>
    <ul>
        <li>
            <img src="../img/reviews/review-1.jpg" alt="man-1">
            <p class="man-name">John Wax123</p>
            <p class="review-1">I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was spacious, comfortable, and luxurious, and the crew took care of everything. </p>

        </li>
    </ul>
</section>